:root {
    --norm-dark:#393e46;
    --norm-light:#ece8d9;
    --primary: #00adb5;
    --secondary : #fc5185;
    --shadow :1px 0px 13px 0px rgba(0, 0, 0, 0.58);
}

.nav-link {
    padding: 3px 0px 3px 10px;
}

.about .nav-link , .work .nav-link{
    color: var(--norm-light);
}

.nav-link.activated {
    color: var(--secondary); 
    opacity: 80%;
    font-weight: bolder;
}

.nav-link.activated:hover {
    opacity: 100%;
}


.about .navbar-brand , .work .navbar-brand{
    color: var(--norm-light);
}

.navbar-brand:hover {
    color: var(--primary);
}

.navbar-brand {
    font-family: 'Caveat', cursive;
}

.dark-bg{
    background-color: var(--norm-dark);
}

.navbar-custom{
    height: 5%;
}
.homepage .navbar-custom {
    background-color: var(--norm-light);
}

#zig-zag-hero {
    background:
        linear-gradient(135deg, var(--norm-dark) 25%, transparent 25%) -75px 0,
        linear-gradient(225deg, var(--norm-dark) 25%, transparent 25%) -75px 0,
        linear-gradient(315deg, var(--norm-dark) 25%, transparent 25%),
        linear-gradient(45deg, var(--norm-dark) 25%, transparent 25%);
    background-size: 150px 150px;
    background-color: rgb(63, 68, 76);
}

#zig-zag-about {
    background:
        linear-gradient(135deg, var(--norm-light) 25%, transparent 25%) -75px 0,
        linear-gradient(225deg, var(--norm-light) 25%, transparent 25%) -75px 0,
        linear-gradient(315deg, var(--norm-light) 25%, transparent 25%),
        linear-gradient(45deg, var(--norm-light) 25%, transparent 25%);
    background-size: 150px 150px;
    background-color: #f3efe0;
}

#zig-zag-work{
    background:
            linear-gradient(135deg, var(--primary) 25%, transparent 25%) -75px 0,
            linear-gradient(225deg, var(--primary) 25%, transparent 25%) -75px 0,
            linear-gradient(315deg, var(--primary) 25%, transparent 25%),
            linear-gradient(45deg, var(--primary) 25%, transparent 25%);
        background-size: 150px 150px;
        background-color:#0fa7af;
}
.wrapper {
    width: 100%;
    height: 95%;
    transition: transform 0.5s;
}

.section_block {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 500px;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
}
html .homepage{
    background-color: var(--norm-light);
}
html .about, html .work{
    background-color: var(--norm-dark);
}
.wrapper{
    position: relative;
    top: 5%;
}
.section_block.hero {
   background-image: none;
}

.section_block.hero .section_content {
    background-color: var(--norm-dark)
}


.section_block .section_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section_block.weather-app .section_content {
    background-color: var(--primary);
}

.section_block.todo-app .section_content {
    background-color: var(--secondary);
}

.section_block.knitting .section_content{
    background-color: var(--primary);
}

.projects-intro{
    background-color: var(--secondary);
        margin: 0;
        text-align: center;
        padding: 20px;
        box-shadow: var(--shadow);
        color: var(--norm-dark);
}
.projects-intro h3{
    font-weight: 700;
    padding-bottom: 10px;
}

.projects-intro p{
    font-weight: 700;
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}

.projects-intro hr {
  border: 2px solid var(--norm-dark);
  border-radius: 5px;
  width: 60%;
  padding: 0;
  color: var(--norm-dark);
  margin: 5px auto 10px auto;
  opacity: 1;
}


#name-main{
    color: var(--primary);
font-family: 'Caveat', cursive;
font-size: 100px;
}

#welcome{
    font-size: 20px;
}
.normal-bg{
    background-color: var(--norm-light);
}

.normal-text-color{
    color: var(--norm-dark);
}

.hero{
    color: var(--norm-light);
    font-weight: 900;
    text-align: center;
}
.hero p{
    font-size: 16px;
    display: inline;
}
.hero button {
    border-radius: 10px;
    background-color: var(--secondary);
    transition: 10ms ease-in;
    box-shadow: var(--shadow);
    font-weight: 700;
    text-decoration: none;
        color: var(--norm-dark);
        padding: 7px 13px;
        border: none;
}

.hero button:hover {
    color: var(--norm-light);
    background-color: var(--secondary);
    transform: scale(1.1);
}

.homepage .container{
    background-color: var(--norm-light);
        justify-content: center;
        border-radius: 5px;
        box-shadow: var(--shadow);
}

.homepage img{
    width: 80%;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.about img{
     width: 80%;
     border-radius: 5px;
     box-shadow: var(--shadow);
}


.apps-title{
    font-weight: 700;
}
.apps-texts{
    text-align: left;
    color: var(--norm-dark);
}


.secondary-link {
    float: left;
    border-radius: 10px;
    background-color: var(--secondary);
    transition: 10ms ease-in;
    box-shadow: var(--shadow);
    text-decoration: none;
    color: var(--norm-dark);
    padding: 7px 13px;
}

.secondary-link:hover , .secondary-link:active{
    color: var(--norm-light);
    background-color: var(--primary);
}

.primary-link {
    text-decoration: none;
        color: var(--norm-dark);
        padding: 7px 13px;
    float: left;
    border-radius: 10px;
    background-color: var(--primary);
    transition: 10ms ease-in;
    box-shadow: var(--shadow);
}

.primary-link:hover , .primary-link:active{
    color: var(--norm-light);
    background-color: var(--secondary);
}

.about h1{
    font-family: 'Caveat', cursive;
    color: var(--primary);
}

.work-main{
    padding: 100px 0 70px 0;
    display: block;
    text-align: center;
    font-family: 'Caveat', cursive;
    background-color: var(--secondary);
    margin: 0 auto;
    box-shadow: var(--shadow);
}
.work .container{
    margin-top: 30px;
}

.work .card{
    background-color: var(--norm-dark);
    color: var(--norm-light);
    margin: 20px;
    text-align: center;
}
.work .card-body h4 {
    font-size: 25px;
    font-weight: 700;
}
.work .card-body p{
    font-size: 14px;
}
@media (max-width:576px) {
    .homepage .container{
        width: 90%;
        height: 90%;
        padding-top: 20px;
    }

    .secondary-link{
        display: block;
        float: none;
        width: fit-content;
        display: block;
        margin: 0 auto;
    }

    .primary-link{
        display: block;
        float: none;
        width: fit-content;
        display: block;
        margin: 0 auto;
    }
    .homepage .apps-texts{

        padding: 0 10px;
        text-align: left;
        font-size: 18px;
    }

    .homepage .apps-title{
        font-size: 20px;
        margin-top: 10px;
        padding-top:10px;
        padding-bottom: 0;
    }

    #name-main{
        font-size: 65px;
    }

    .hero p{
        display: block;
        padding: 0;
    }
    .hero h1{
        margin: 30px 10px 30px 5px;
        
    }

    .section_block{
        min-height: 600px;
    }

    .about img{
        display: block;
        margin: 40px auto 0 auto;
    }

    .about-text{
        text-align: center;
    }

    .about-text h2 {
            display: block;
            font-size: 18px;
            font-weight: 700;
    }
    
    .about-text h1 {
        margin-top: 20px;
        font-size: 50px;
    }
    
    .about-text i {
       padding: 0 10px;
    }
    
    .about-text p {
        font-size: 16px;
        padding-top: 10px;
    }

    .about .section_content{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .homepage img{
        display: block;
        margin: 0 auto;
    }
    .work-main h1{
        font-size: 20px;
    }
    .work-main{
        margin-bottom: 10px;
        padding: 70px 0 30px 0;
    }

    .work .container{
            margin: 0px;
    }
    .work .card{
        margin: 5px 0;
    }

    
}


@media (min-width : 576px) {
    .about .container{
            padding: 0;
            margin: 0;
    }

    .homepage .container{
        text-align: center;
        height: 80%;
            width: 80%;
            display: flex !important;
            align-items: center !important;
    }

    .homepage .apps-texts{
        width: 90%;
    }

    .hero i {
        padding: 10px;
    }

    .about-text h2{ 
        display: inline;      
        font-size: 20px;
        font-weight: 700;
    }

    .about-text h1{
        font-size: 60px;
    }
    .about-text i{
        padding: 0 10px;
    }
    .about-text p{
        font-size: 18px;
        padding-top: 10px;
    }
}